.custom-table>thead>tr {
    background-color: #2a3f54;
}
.custom-table>thead>tr>th>a, .custom-table>thead>tr>th.col-num, .custom-table>thead>tr>th.actions {
    color: #dde4ea;
}
.custom-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px;
}
.highlight {
    background-color: #f5f5f5 !important;
}
.table-empty {
    text-align: center
}

.custom-table>thead>tr>th:hover, .custom-table>thead>tr>th:focus{
    background-color: rgba(255,255,255,.06);
}
.custom-table>thead>tr>th>a:hover, .custom-table>thead>tr>th>a:focus {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

#current-cell {
    background-color: #e6e6e6 !important;
}