/* default layout */
.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 200px;
}

.custom-table>thead>tr {
    background-color: #2a3f54;
}
.custom-table>thead>tr>th, .custom-table>thead>tr>th>a, .custom-table>thead>tr>th.col-num, .custom-table>thead>tr>th.actions {
    color: #dde4ea;
    text-align: center;
    vertical-align: middle !important;
}
.custom-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px;
}
.highlight {
    background-color: #f5f5f5 !important;
}
.table-empty {
    text-align: center
}

.custom-table>thead>tr>th:hover, .custom-table>thead>tr>th:focus{
    background-color: rgba(255,255,255,.06);
}
.custom-table>thead>tr>th>a:hover, .custom-table>thead>tr>th>a:focus {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}
.custom-table>tbody>tr>td {
    position: relative;
    vertical-align: middle;
    /* white-space: unset !important; */
}
.custom-table>tbody>tr>td span {
    line-height: unset;
}
.custom-table>tbody>tr>td button {
    margin-bottom: 0px;
}

/* .table-responsive {
    overflow: visible !important;
} */

.mobile-only {
    display:none !important;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        overflow-y: hidden !important;
    }
    .custom-table {
        table-layout: fixed;
    }
    .custom-table>thead>tr>th {
        width: 200px;
    }

    /* show save button for mobile only */
    .mobile-only {
        display: block !important;
        float: right;
        margin-bottom: 5px;
        margin-top: -10px;
    }
}

#current-cell {
    background-color: #e6e6e6 !important;
}
.input-group {
    margin-bottom: 0px !important;
}

span.parsley-error {
    background: #FAEDEC !important;
    border: 1px solid #E85445 !important;
}

/* Student - info */
ul.bar_tabs {
    background: #367fa9;
}
.select2 {
    width:100%!important;
}

/* Fix remove error datetime picker margin bottom 10px */
ul {
    margin-bottom: 0px !important;
}

.records-per-page label {
    margin-left: -13px;
    text-align: left !important;
    width: 33%;
}

.box-tools a:hover {
    background: #F5F7FA;
}

ul.sidebar-menu>li.active>a {
    /* box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 1px 1px 5px;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#4f565d,#345779),#2d4863 !important; */
    background: #1abc9c !important;
}

ul.treeview-menu>li {
    padding: 5px;
}

.left-col {
    padding-left: 0px;
    padding-right: 5px;
}

.right-col {
    padding-left: 5px;
    padding-right: 0px;
}

.nav-tabs>li>a {
    border-radius: 0 !important;
}

/* Parsley validation */
p.parsley-success{
    color:#468847;
    background-color:#DFF0D8;
    border:1px solid #D6E9C6;
}

p.parsley-error{
    color:#B94A48;
    background-color:#F2DEDE;
    border:1px solid #EED3D7
}

ul.parsley-errors-list{
    list-style:none;
    color:#E74C3C;
    padding-left:0
}

input.parsley-error,select.parsley-error,textarea.parsley-error{
    background:#FAEDEC;
    border:1px solid #E85445
}

.btn-group .parsley-errors-list {
    display:none
}

.ln_solid {
    border-top: 1px solid #e5e5e5;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}

.filter-group-btn {
    min-width: 100px;
}

/* avatar crop image */
.avatar-image {
    border: 0px;
    box-shadow: none;
}
#avatar, #cropped {
    width: 100%;
    height: auto;
}
#cropped_result {
    margin-top: 5px;
}
#cropped_result img {
    width: 100%;
    height: auto;
}

textarea {
    resize: vertical;
}

blockquote {
    border-left: 5px solid #3c8dbc !important;
}

.group-picker {
    padding-left: 0;
    padding-right: 0;
}

.seperate-from-to {
    text-align: center;
    margin-top: 5px;
}

label.optional {
    font-weight: 500;
    font-style: italic;
}

.actions {
    text-align: center;
}

.footer-note {
    font-style: italic;
    text-align: right;
}
.footer-note strong, .global-note {
    color: red;
}
.actions .fa-edit {
    margin-right: 8px !important;
}
.actions .fa-trash {
    margin-right: 11px !important;
}
.actions .fa-exchange {
    margin-right: 8px !important;
}

.modal-body.box {
    margin-bottom: auto;
    box-shadow: unset;
}

.box-body.table-responsive {
    overflow: inherit;
}

.fc-content {
    cursor: pointer;
}

.chart-responsive h4 {
    text-align: center;
}

.timeline-avatar {
    width: 40px;
    height: 40px;
    line-height: 30px;
    margin-left: 12px;
    position: absolute;
}

.timeline-footer {
    min-height: 42px;
    border-top: 1px solid #f4f4f4;
}

.history-creater {
    color: #999;
    font-style: italic;
    font-size: 12px;
}

.modal { overflow: auto !important; }

.overview .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-box, .info-box, .box {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.pie-chart-name {
    text-align: center;
}


.zoom {
    position: fixed;
    bottom: 30px;
    right: 24px;
    height: 70px;
    }

.zoom-fab {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #18232891;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
}

.zoom-fab:hover {
    background-color: #18232891;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    color:#FFF;
    opacity: 1 !important;
}

.zoom-btn-sm:active, .zoom-btn-sm:focus {
    color:#FFF;
}
.zoom-btn-large {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.zoom-btn-edit {
    background-color: #64b5f6c9;
}
.zoom-btn-edit:hover {
    background-color: #2196f3b8;
}

.zoom-btn-delete {
    background-color: #ec756cb3;
}
.zoom-btn-delete:hover {
    background-color: #f44336b3;
}
.zoom-btn-report {
    background-color: #ba68c8ba;
}
.zoom-btn-report:hover {
    background-color: #9c27b09c; 
}
.zoom-btn-save {
    background-color: #81c784ad;
}
.zoom-btn-save:hover {
    background-color: #00a65aa1; 
}
.zoom-btn-info {
    background-color: #85b6dfcf; 
}
.zoom-btn-info:hover {
    background-color: #337ab7cf;
}

.zoom-btn-person { background-color: #F44336; }

.zoom-btn-person:hover { background-color: #e57373; }

.zoom-btn-doc { background-color: #ffeb3b; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram { background-color: #4CAF50; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }

.zoom-menu {
    position: absolute;
    right: 55px;
    left: auto;
    top: 50%;
    transform: translateY(-35%);
    height: 100%;
    width: 500px;
    list-style: none;
    text-align: right;
}

.zoom-menu li {
    display: inline-block;
    margin-right: 10px;
}

.zoom-card {
    position: absolute;
    right: 150px;
    bottom: 70px;
    transition: box-shadow 0.25s;
    padding: 24px;
    border-radius: 2px;
    background-color: #009688;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.zoom-card ul {
    -webkit-padding-start: 0;
    list-style: none;
    text-align: left;
}

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
    transform: scale(0);
    transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }

#zoomBtn {
    opacity: 0.3;
}

#zoomBtn.active {
    opacity: 1;
}

.center {
    text-align: center
}

.fa-lock {
    font-size: 1.1em;
    padding-right: 3px;
    padding-left: 1px;
}

#student-tabs {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#student-tabs>li>a {
    color: white;
    border: none !important;
    margin-right: 0px !important;
    transition: 0.2s ease-out;
}
#student-tabs>li>a:hover, #student-tabs>li.active>a{
    color: #444;
    border: none !important;
}

.fit-div {
    height: auto;
}

.login-input {
    margin-bottom: 5px !important;
}

.show-notification {
    background: #fff;
    box-shadow: 0 0 1px 2px rgba(0,0,0,.03), 0 -2px 1px -2px rgba(0,0,0,.02), 0 0 0 -1px rgba(0,0,0,.03);
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(30px);
    transition: all linear .3s;
    visibility: hidden;
    width: 14em;
    list-style: none;
    padding: 1px 0 0 0;
}

.show-notification>li>a {
    color: #777;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.show-notification>li>a>.fa {
    margin-right: 10px;
}
.show-notification>li>a:hover {
    background-color: #e1e3e9;
    color: #333;
}
.user-profile:hover .show-notification {
    -webkit-transform: translateY(0px);
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.error-body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    height: auto;
}
.col-middle {
    margin-top: 5%;
}

.text-center {
    text-align: center;
}
.error-number {
    font-size: 90px;
    line-height: 90px;
    margin: 20px 0;
}

.go-back-link:hover, .go-back-link:active, .go-back-link:focus {
    color: #7da2c3;
}

.bold-text {
    font-weight: bold;
}